html {
    font-family: Arial;
}

table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

tr:has(th) {
    border: 2px solid black;
    font-size: 30px;
    height: 75px;
}

th {
    padding: 10px 100px 10px 100px;
}

#small_th {
    padding: 10px 50px 10px 50px;
}

tr {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

tr:last-child {
    border-bottom: 2px solid black;
}

td {
    border: 1px solid grey;
    padding: 10px;
    height: 35px;
    cursor: pointer;
}

tr:has(td):hover {
    background-color: rgb(226, 240, 255);
}

.todo_selected {
    background-color: rgb(109, 175, 250);
}

#main_frame {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
}

.edit_todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 50px;
    padding-top: 10px;
    margin-bottom: 50px;
    width: 370px;
}

#add_form {
    height: 250px;
}

#update_form {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit_todo > div > h3 {
    margin: 0 0 10px 0;
}

.edit_todo > input, .edit_todo > form > input {
    width: 250px;
    height: 30px;
    cursor: pointer;
}

#comp_check{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 30px;
}

#comp_check > input {
    width: 30px;
    height: 30px;
}

.del_input:hover {
    background-color: rgb(255, 125, 125);
}

.sub_input:hover {
    background-color: rgb(109, 175, 250);
}

.task_field {
    margin: 10px 0 10px 0;
}

header {
    background-color: rgb(109, 175, 250);
    padding-top: 10px;
    margin-bottom: 20px;
}

hr {
    background-color: white;
    border: none;
    height: 2px;
}

nav {
    height: 30px;
}

nav > a {
    color: black;
    text-decoration: None;
    padding: 10px;
    font-size: 20px;
    padding-right: 15px;
    border-right: 1px solid white;
}

nav > a:hover {
    color: white;
}

header > h1 {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 60px;
}

.task_done {
    text-align: center;
    background-color: rgb(78, 185, 124);
}

.task_not_done {
    text-align: center;
    background-color: rgb(228, 96, 96);
}