<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/theme.css') }}">
    <title>Import csv</title>
</head>

<body>
    {% include 'header.html' %}

    <h1>Upload a csv file to add tasks</h1>

    <form method="POST" enctype="multipart/form-data" id="upload_form" action="{{ url_for('web_ui.show') }}">
        <input type="hidden" name="action" value="upload">
        <input type="file" name="file" id="file" accept=".csv" required>
        <input type="submit" value="Upload csv" class="sub_input">
    </form>
</body>