<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/theme.css') }}">
    <script src="{{ url_for('static', filename='scripts/update.js') }}"></script>
    <title>Home</title>
</head>

<body>
    <header>
        <h1>Todo app</h1>
        <hr>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="download">Download csv</a>
        </nav>
    </header>

    <h1>Here are your tasks !</h1>

    <div id="main_frame">
    {% if todos %}
        <table>
            <tr>
                <th>ID</th>
                <th>Due</th>
                <th>Task</th>
                <th id="small_th">Complete</th>
            </tr>

            {% for todo in todos %}
                <tr id= {{todo.id}}>
                    <td>{{ todo.id }}</td>
                    <td id="due">{{ todo.due }}</td>
                    <td>{{ todo.task }}</td>
                    {% if todo.complete %}
                        <td class="task_done">Yes</td>
                    {% else %}
                        <td class="task_not_done">No</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h1>You have no tickets !</h1>
    {% endif %}

    <div id="todos_edit">

        <form class="edit_todo" id="add_form" method="GET">
            <h2>Add a new task</h2>
            <input type="text" name="task" placeholder="Task" class="task_field" required>
            <input type="date" name="due" class="task_field">
            <br>
            <input type="hidden" name="action" value="add">
            <input type="reset" value="Reset">
            <input type="submit" value="Add task" class="sub_input">
        </form>

        <div class="edit_todo">
            <form method="GET" id="update_form">
                <h2>Edit this task</h2>
                <h3 id="id_title">No task</h3>
                <input type="text" name="task" placeholder="Task" class="task_field" id="update_task" required>
                <input type="date" name="due" class="task_field" id="update_due">
                <input type="checkbox" name="complete" value="complete" id="update_comp">
                <br>
                <input type="hidden" name="action" value="update">
                <input type="hidden" name="id" class="update_id" required>
                <input type="reset" value="Reset">
                <input type="submit" value="Edit" class="sub_input">
            </form>
            <br>
            <form>
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="id" class="update_id" required>
                <input type="submit" value="Delete" class="del_input">
            </form>
        </div>

    </div>

    </div>
</body>
</html>
